# Visualisering af DMI Vejrdata i en GUI

## Formål

Du skal hente aktuelle eller historiske vejrdata fra DMI’s API, indlæse dem i en pandas DataFrame, og præsentere resultaterne i en PySide6-applikation. Applikationen skal bruge Matplotlib som backend til at vise grafer eller bruge plotly til en interaktivt dashboard.

## Trin 1: Hent data fra DMI API

- DMI stiller åbne data til rådighed via DMI’s [Open Data](https://opendatadocs.dmi.govcloud.dk/en/Getting_Started) API.
- For at få adgang, skal man oprette en konto og generere en gratis API-nøgle på [DMI API Portal](https://opendatadocs.dmi.govcloud.dk/en/Authentication)
- Lav et Python-script, der henter data (JSON-format) og gemmer det i en pandas DataFrame. [Her](https://opendatadocs.dmi.govcloud.dk/en/APIs/Meteorological_Observation_API) finder du eksempler for **Meteorological Observation API**
    - Tip: brug [**requests**](https://pypi.org/project/requests/) til at hente data.
    - Husk at konvertere tidspunkter til **datetime**.

In [8]:
import requests
import pandas as pd
from datetime import datetime, timedelta, timezone
url = "https://dmigw.govcloud.dk/v2/metObs/collections/observation/items"

hours = 6
now = datetime.now(timezone.utc)
start = now - timedelta(hours=hours)
datetime_range = f"{start.isoformat()}/{now.isoformat()}"
params = {
    "api-key": "75ab0b53-550a-4ede-b9ae-d1d9bc108f48",   # <- indsæt din egen nøgle
    "stationId": "06081",       # station fx København
    "parameterId": "temp_dry",  # parameter fx temperatur
    "datetime": datetime_range,
    "limit": 1000
}



response = requests.get(url, params=params).json()
df = pd.json_normalize(response['features'])
print(df['geometry.coordinates'])
print(df['properties.value'])
df.head()
#print(response)
#print(df)

0     [8.0828, 55.5575]
1     [8.0828, 55.5575]
2     [8.0828, 55.5575]
3     [8.0828, 55.5575]
4     [8.0828, 55.5575]
5     [8.0828, 55.5575]
6     [8.0828, 55.5575]
7     [8.0828, 55.5575]
8     [8.0828, 55.5575]
9     [8.0828, 55.5575]
10    [8.0828, 55.5575]
11    [8.0828, 55.5575]
12    [8.0828, 55.5575]
13    [8.0828, 55.5575]
14    [8.0828, 55.5575]
15    [8.0828, 55.5575]
16    [8.0828, 55.5575]
17    [8.0828, 55.5575]
18    [8.0828, 55.5575]
19    [8.0828, 55.5575]
20    [8.0828, 55.5575]
21    [8.0828, 55.5575]
22    [8.0828, 55.5575]
23    [8.0828, 55.5575]
24    [8.0828, 55.5575]
25    [8.0828, 55.5575]
26    [8.0828, 55.5575]
27    [8.0828, 55.5575]
28    [8.0828, 55.5575]
29    [8.0828, 55.5575]
30    [8.0828, 55.5575]
31    [8.0828, 55.5575]
32    [8.0828, 55.5575]
33    [8.0828, 55.5575]
34    [8.0828, 55.5575]
35    [8.0828, 55.5575]
Name: geometry.coordinates, dtype: object
0     0.9
1     0.9
2     0.9
3     0.8
4     0.7
5     0.7
6     0.6
7     0.5
8     0.5
9     0.5
10    0.4
11    0.3
12    0.2
13    0.1
14    0.1
15    0.0
16   -0.1
17   -0.1
18   -0.2
19   -0.2
20   -0.3
21   -0.3
22   -0.4
23   -0.5
24   -0.5
25   -0.5
26   -0.6
27   -0.7
28   -0.7
29   -0.7
30   -0.8
31   -0.9
32   -1.0
33   -1.1
34   -1.1
35   -1.2
Name: properties.value, dtype: float64

,type,id,geometry.type,geometry.coordinates,properties.parameterId,properties.created,properties.value,properties.observed,properties.stationId
0,Feature,0a753406-325c-265d-c15e-cf24e39e4e3a,Point,"[8.0828, 55.5575]",temp_dry,2025-11-24T09:10:51.478469Z,0.9,2025-11-24T09:10:00Z,06081
1,Feature,68bf9037-4671-e2c6-b4d5-5e01899d3052,Point,"[8.0828, 55.5575]",temp_dry,2025-11-24T09:01:07.80185Z,0.9,2025-11-24T09:00:00Z,06081
2,Feature,b8105e1f-c9a7-7b35-5764-a385173c44e2,Point,"[8.0828, 55.5575]",temp_dry,2025-11-24T08:50:51.187564Z,0.9,2025-11-24T08:50:00Z,06081
3,Feature,b687a7aa-8428-f23b-4a9a-d7f1f2a3d86c,Point,"[8.0828, 55.5575]",temp_dry,2025-11-24T08:41:14.98476Z,0.8,2025-11-24T08:40:00Z,06081
4,Feature,cd355ad5-e6cd-88f1-6cbf-d05dea2cc46b,Point,"[8.0828, 55.5575]",temp_dry,2025-11-24T08:30:52.566637Z,0.7,2025-11-24T08:30:00Z,06081

In [9]:
to_drop =[
'geometry.type',
'id',
    'properties.parameterId',
    'properties.created',
    'geometry.coordinates',
    'properties.stationId',
    'type'
]

df_data = df.drop(to_drop, inplace=False, axis=1)

In [11]:
df_data.head(100)

    properties.value   properties.observed
0                0.9  2025-11-24T09:10:00Z
1                0.9  2025-11-24T09:00:00Z
2                0.9  2025-11-24T08:50:00Z
3                0.8  2025-11-24T08:40:00Z
4                0.7  2025-11-24T08:30:00Z
5                0.7  2025-11-24T08:20:00Z
6                0.6  2025-11-24T08:10:00Z
7                0.5  2025-11-24T08:00:00Z
8                0.5  2025-11-24T07:50:00Z
9                0.5  2025-11-24T07:40:00Z
10               0.4  2025-11-24T07:30:00Z
11               0.3  2025-11-24T07:20:00Z
12               0.2  2025-11-24T07:10:00Z
13               0.1  2025-11-24T07:00:00Z
14               0.1  2025-11-24T06:50:00Z
15               0.0  2025-11-24T06:40:00Z
16              -0.1  2025-11-24T06:30:00Z
17              -0.1  2025-11-24T06:20:00Z
18              -0.2  2025-11-24T06:10:00Z
19              -0.2  2025-11-24T06:00:00Z
20              -0.3  2025-11-24T05:50:00Z
21              -0.3  2025-11-24T05:40:00Z
22              -0.4  2025-11-24T05:30:00Z
23              -0.5  2025-11-24T05:20:00Z
24              -0.5  2025-11-24T05:10:00Z
25              -0.5  2025-11-24T05:00:00Z
26              -0.6  2025-11-24T04:50:00Z
27              -0.7  2025-11-24T04:40:00Z
28              -0.7  2025-11-24T04:30:00Z
29              -0.7  2025-11-24T04:20:00Z
30              -0.8  2025-11-24T04:10:00Z
31              -0.9  2025-11-24T04:00:00Z
32              -1.0  2025-11-24T03:50:00Z
33              -1.1  2025-11-24T03:40:00Z
34              -1.1  2025-11-24T03:30:00Z
35              -1.2  2025-11-24T03:20:00Z

## Trin 2: Vælg et datasæt (fx temperatur over de seneste dage).

Udregn fx:

- gennemsnitstemperatur pr. dag
- højeste og laveste temperatur

In [10]:
import numpy as np

print(np.max(df_data['properties.value']))
print(np.min(df_data['properties.value']))
print(np.average(df_data['properties.value']))

0.9
-1.2
-0.10555555555555557

## Trin 3: Lav en PySide6 GUI med Matplotlib

Byg en simpel GUI med PySide6. GUI’en skal have:
 
- En knap til at hente/loade data fra DMI.
- En figur (Matplotlib-plot) til at vise data.

## Ekstra udfordringer:
- Brug en DateTimePicker i PySide6, så man kan vælge tidsperiode.
- En dropdown-menu, hvor man kan vælge parameter (fx temperatur, nedbør).
- Tilføj mulighed for at vælge forskellige stationer (fx København, Aalborg).
- Lav et interaktivt `plotly.express` line plot af temperatur over tid.